/UE_IhorKravtsov_test/Intermediate
/UE_IhorKravtsov_test/Saved
MyCppProject/Saved/AutoScreenshot.png
MyCppProject/Saved/Config/CrashReportClient/UECC-Windows-55E7BC464C476DDA776B2DBABA914424/CrashReportClient.ini
MyCppProject/Saved/Config/WindowsEditor/Editor.ini
MyCppProject/Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
MyCppProject/Saved/Config/WindowsEditor/Game.ini
MyCppProject/Saved/Config/WindowsEditor/GameUserSettings.ini
MyCppProject/Saved/Logs/MyCppProject.log
MyCppProject/Saved/Logs/WorldPartition/StreamingGeneration-PIE_ThirdPersonMap-00001704-2026-01-30T17.18.14.886Z.log
MyCppProject/Saved/Logs/WorldPartition/StreamingGeneration-PIE_ThirdPersonMap-00001704-2026-01-30T17.28.52.323Z.log
MyCppProject/Saved/Logs/WorldPartition/StreamingGeneration-PIE_ThirdPersonMap-00001704-2026-01-30T17.29.11.278Z.log
MyCppProject/Saved/Logs/WorldPartition/StreamingGeneration-PIE_ThirdPersonMap-00001704-2026-01-30T17.31.30.445Z.log
MyCppProject/Saved/Logs/WorldPartition/StreamingGeneration-PIE_ThirdPersonMap-00001704-2026-01-30T17.32.04.757Z.log
MyCppProject/Saved/Logs/WorldPartition/StreamingGeneration-PIE_ThirdPersonMap-00001704-2026-01-30T17.32.25.161Z.log
MyCppProject/Saved/ShaderDebugInfo/PCD3D_SM6/WorldGridMaterial_c1ff929ae6e37fb4/Default/DDCKey-Editor.txt
MyCppProject/Saved/SourceControl/UncontrolledChangelists.json
MyCppProject/Saved/UnrealBuildTool/BuildConfiguration.xml
/MyCppProject/Saved
/MyCppProject/Intermediate
/MyCppProject/Binaries
